.logo{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 5rem;
}

.container{
    margin: auto;
    width: 50rem;
    height: 22rem;
    background: rgba( 190, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.message{
    background: rgba( 190, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2rem;
    margin: 1rem;
}

#m-left{
    float: left;
    clear: both;
}

#m-right{
    float: right;
    clear: both;
}

.send{
    display: block;
    text-align: center;
}

#msgInp{
    width: 50rem;
}

.btn{
    cursor: pointer;
}

body{
    background-color: rgb(190, 255, 255);
}